body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2f40ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
}

.ponyo-face {
    width: 250px;
    height: 250px;
    border-radius: 50% 50% 40% 40% / 46% 50% 34% 56%;
    background-color: #DCB695;
    display: flex;
    border: solid 2px black;
}

.ponyo-eyes{
    position: relative;
}

.eye-1{
    width: 55px;
    height: 47px;
    background: white;
    border-radius: 51% 49% 46% 54% / 64% 64% 36% 36%;
    position: absolute;
    top: 83px;
    left: 45px;
}

.eye-2{
    width: 55px;
    height: 47px;
    background: white;
    border-radius: 51% 49% 46% 54% / 64% 64% 36% 36%;
    position: absolute;
    top: 83px;
    left: 163px;
}

.iris{
    position: absolute;
    clip-path: ellipse(33% 38% at 50% 50%);
    width: 50px;
    height: 50px;
    background-color: #3F382A;
    top: 2px;
    left: 3px;
    z-index: 1;
}

.pupils{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 25px;
    top: 13px;
    left: 15px;
}

.sparkles{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 10px;
    top: 15px;
    left: -1px;
}

.mouth{
    position: absolute;
    border-radius: 51% 49% 87% 13% / 80% 69% 31% 20%;
    background-color: #ce7660;
    width: 30px;
    height: 19px;
    top: 68%; 
    left: 52%;
    transform: translate(-50%, -50%);
}

.noise{
    position: absolute;
}

.noise-det1{
    position: relative;
    background-color: #997454;
    clip-path: polygon(64% 1%, 71% 12%, 70% 28%, 62% 31%, 66% 19%);
    width: 60px;
    height: 31px;
    top: 140px;
    left: 202%;
}

.noise-det2{
    position: absolute;
    background-color: rgb(148, 113, 79);
    width: 26px;
    height: 31px;
    left: 164px;
    top: 135px;
    transform: translate(-50%, -50%);
    clip-path: polygon(5% 98%, 12% 90%, 23% 88%, 21% 92%, 15% 93%);
}

.noise-det3{
    position: absolute;
    background-color: rgb(148, 113, 79);
    width: 26px;
    height: 31px;
    left: 255%;
    top: 135px;
    transform: translate(-50%, -50%);
    clip-path: polygon(5% 98%, 12% 90%, 23% 88%, 21% 92%, 15% 93%);
}

.eyebrows{
    position: absolute;
}

.eyeb1{
    position: absolute;
    background-color: #CE5E50;
    clip-path: polygon(22% 75%, 36% 66%, 53% 66%, 59% 72%, 41% 70%);
    width: 121px;
    height: 110px;
    left: 20px;
    top: -10px;
    z-index: 4;
}

.eyeb2{
    position: absolute;
    background-color: #CE5E50;
    clip-path: polygon(22% 75%, 36% 66%, 53% 66%, 59% 72%, 41% 70%);
    width: 121px;
    height: 110px;
    left: 138px;
    top: -10px;
    z-index: 4;
}
.hair{
    position: relative;
    bottom: 304px;
}

.hair>div:nth-child(1){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 100px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: -38px;
    top: -105px;
    transform: rotate(-89deg);
}

.hair>div:nth-child(2){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 77px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 291px;
    top: 160px;
    transform: rotate(18deg);
}

.hair>div:nth-child(3){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 120px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: -25px;
    top: -9px;
    transform: rotate(-52deg);
}

.hair>div:nth-child(4){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 100px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: -38px;
    top: -105px;
    transform: rotate(-89deg);
}

.hair>div:nth-child(5){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 95px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: -26px;
    top: -16px;
    transform: rotate(-45deg);
}

.hair>div:nth-child(6){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 84px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: -38px;
    top: -8px;
    transform: rotate(-42deg);
}

.hair>div:nth-child(7){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 111px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 298px;
    top: -115px;
    transform: rotate(71deg);
}

.hair>div:nth-child(8){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 127px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 263px;
    top: -94px;
    transform: rotate(66deg);
}

.hair>div:nth-child(9){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 99px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 215px;
    top: -29px;
    transform: rotate(46deg);
}

.hair>div:nth-child(10){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 108px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: -234px;
    top: -256px;
    transform: rotate(-116deg);
}

.hair>div:nth-child(11){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 107px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 192px;
    top: -19px;
    transform: rotate(46deg);
}

.hair>div:nth-child(12){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 91px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 199px;
    top: -85px;
    transform: rotate(84deg);
}

.hair>div:nth-child(13){
    background-color: transparent;
    color: #CE624D;
    height: 30pc;
    width: 91px;
    border-top: 20px solid #CE624D;
    border-radius: 50px 40px 0 0;
    position: absolute;
    right: 190px;
    top: -117px;
    transform: rotate(96deg);
}

.blanket{
    position: relative;
    bottom: 304px;
}

.blanket>div:nth-child(1){
    background-color: #E5DECD;
    position: absolute;
    width: 112px;
    height: 127px;
    left: -51px;
    top: 234px;
    border-radius: 50%;
}

.blanket>div:nth-child(2){
    background-color: #E5DECD;
    position: absolute;
    width: 114px;
    height: 120px;
    left: -83px;
    top: 180px;
    border-radius: 50%;
}

.blanket>div:nth-child(3){
    background-color: #E5DECD;
    position: absolute;
    width: 110px;
    height: 137px;
    left: -99px;
    top: 96px;
    border-radius: 50%;
}

.blanket>div:nth-child(4){
    background-color: #E5DECD;
    position: absolute;
    width: 138px;
    height: 128px;
    left: -86px;
    top: -11px;
    border-radius: 50%;
}

.blanket>div:nth-child(5){
    background-color: #E5DECD;
    position: absolute;
    width: 141px;
    height: 111px;
    left: 28px;
    top: -38px;
    border-radius: 50%;
}

.blanket>div:nth-child(6){
    background-color: #E5DECD;
    position: absolute;
    width: 128px;
    height: 115px;
    left: 133px;
    top: -38px;
    border-radius: 50%;
}

.blanket>div:nth-child(7){
    background-color: #E5DECD;
    position: absolute;
    width: 123px;
    height: 149px;
    left: 216px;
    top: 15px;
    border-radius: 50%;
}

.blanket>div:nth-child(8){
    background-color: #E5DECD;
    position: absolute;
    width: 123px;
    height: 160px;
    left: 244px;
    top: 132px;
    border-radius: 50%;
}

.blanket>div:nth-child(9){
    background-color: #D0C7AF;
    position: absolute;
    width: 123px;
    height: 160px;
    left: 190px;
    top: 176px;
    border-radius: 50%;
    z-index: -1;
}

.neck{
    position: relative;
    
}

.neck>div:nth-child(1){
    clip-path: polygon(6% 37%, 33% 49%, 68% 50%, 86% 41%);
    position: absolute;
    background-color: #DCB695;
    width: 127px;
    height: 235px;
    left: 68px;
    top: -99px;
    z-index: -1;
    
}

.shirt{
    position: relative;
}

.shirt>div:nth-child(1){
    background-color: #DC5D4F;
    position: absolute;
    clip-path: polygon(0 24%, 24% 42%, 47% 45%, 66% 45%, 91% 32%);
    width: 207px;
    height: 241px;
    z-index: -2;
    left: 38px;
    top: -83px;
}

.shirt>div:nth-child(2){
    clip-path: polygon(1% 20%, 100% 0, 100% 86%, 0 100%);
    background-color: #cf5749;
    position: absolute;
    width: 196px;
    height: 180px;
    z-index: -3;
    left: 38px;
    top: -83px;
}

.lamp>div:nth-child(1){
    clip-path: circle(50% at 50% 50%);
    background-color: #f2ebe2;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 357px;
    top: 405px;
}

.lamp>div:nth-child(2){
    clip-path: ellipse(25% 40% at 50% 50%);
    background-color: #7C894E;
    position: absolute;
    width: 100px;
    height: 100px;
    left: 369px;
    top: 395px;
}

.lamp>div:nth-child(3){
    clip-path: circle(50% at 50% 50%);
    background-color: #f2ebe25a;
    position: absolute;
    width: 95px;
    height: 93px;
    left: 336px;
    top: 384px;
    z-index: -1;
}