body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2f40ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0px;
    margin: 0px;
}

.ponyo-face {
    width: 250px;
    height: 250px;
    border-radius: 50% 50% 40% 40% / 46% 50% 34% 56%;
    background-color: #DCB695;
    display: flex;
}

.ponyo-eyes{
    position: relative;
}

.eye-1{
    width: 55px;
    height: 47px;
    background: white;
    border-radius: 51% 49% 46% 54% / 64% 64% 36% 36%;
    position: absolute;
    top: 83px;
    left: 45px;
}

.eye-2{
    width: 55px;
    height: 47px;
    background: white;
    border-radius: 51% 49% 46% 54% / 64% 64% 36% 36%;
    position: absolute;
    top: 83px;
    left: 163px;
}

.iris{
    position: absolute;
    clip-path: ellipse(33% 38% at 50% 50%);
    width: 50px;
    height: 50px;
    background-color: #3F382A;
    top: 2px;
    left: 3px;
    z-index: 1;
}

.pupils{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 25px;
    top: 13px;
    left: 15px;
}

.sparkles{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 10px;
    top: 15px;
    left: -1px;
}

.mouth{
    position: absolute;
    border-radius: 51% 49% 87% 13% / 80% 69% 31% 20%;
    background-color: #ce7660;
    width: 30px;
    height: 19px;
    top: 68%; 
    left: 52%;
    transform: translate(-50%, -50%);
}

.noise{
    position: absolute;
}

.noise-det1{
    position: relative;
    background-color: #997454;
    clip-path: polygon(64% 1%, 71% 12%, 70% 28%, 62% 31%, 66% 19%);
    width: 60px;
    height: 31px;
    top: 140px;
    left: 202%;
}

.noise-det2{
    position: absolute;
    background-color: rgb(148, 113, 79);
    width: 26px;
    height: 31px;
    left: 164px;
    top: 135px;
    transform: translate(-50%, -50%);
    clip-path: polygon(5% 98%, 12% 90%, 23% 88%, 21% 92%, 15% 93%);
}

.noise-det3{
    position: absolute;
    background-color: rgb(148, 113, 79);
    width: 26px;
    height: 31px;
    left: 255%;
    top: 135px;
    transform: translate(-50%, -50%);
    clip-path: polygon(5% 98%, 12% 90%, 23% 88%, 21% 92%, 15% 93%);
}

.eyebrows{
    position: absolute;
}

.eyeb1{
    position: absolute;
    background-color: #CE5E50;
    clip-path: polygon(22% 75%, 36% 66%, 53% 66%, 59% 72%, 41% 70%);
    width: 121px;
    height: 110px;
    left: 20px;
    top: -10px;
    z-index: 4;
}

.eyeb2{
    position: absolute;
    background-color: #CE5E50;
    clip-path: polygon(22% 75%, 36% 66%, 53% 66%, 59% 72%, 41% 70%);
    width: 121px;
    height: 110px;
    left: 138px;
    top: -10px;
    z-index: 4;
}
