/* Reset and general styles */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vw; /* Note: corrected vh unit to vw */
    background-color: gray;
}

/* Reset default margin and padding */
* {
    padding: 0px;
    margin: 0px;
}

/* Common styles for both characters */
.gumball_and_darwin {
    margin: 20px auto;
    max-width: 100em;
}

/* Gumball styles */
.gumball {
    position: absolute;
    top: 30%;
    left: calc(50% - 50px);
    transform: translate(-50%, -50%);
}

/* Styles for Gumball's face */
.gumball-face {
    width: 339px;
    height: 268px;
    border-radius: 54% 51% 43% 56% / 93% 67% 44% 24%;
    background-color: rgb(2, 180, 208);
}

/* Gumball's cheeks */
.gumball-cheek {
    width: 180px;
    height: 170px;
    border-radius: 49% 51% 46% 54% / 54% 51% 49% 46%;
    background-color: rgb(2, 180, 208);
    position: absolute;
    bottom: 14px;
    left: -22px;
    z-index: -1;
}

/* Gumball's ears */
.gumball-ear1 {
    width: 77px;
    height: 75px;
    border-radius: 53% 47% 100% 0% / 100% 100% 0% 0%;
    background-color: rgb(2, 180, 208);
    position: absolute;
    top: -25px;
    left: 133px;
    transform: rotate(10deg);
    z-index: -1;
}

.gumball-ear2 {
    width: 85px;
    height: 75px;
    border-radius: 53% 47% 100% 0% / 100% 100% 0% 0%;
    background-color: rgb(2, 180, 208);
    position: absolute;
    top: 1px;
    left: 254px;
    transform: rotate(45deg);
    z-index: -1;
}

/* Gumball's eyes */
.eye1-g {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 41px;
    left: 68px;
    box-shadow: 1px 1px 3px #888787;
}

.eye2-g {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 41px;
    left: 187px;
    box-shadow: 1px 1px 3px #888787;
}

/* Gumball's pupils */
.pupil1 {
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 5px;
    box-shadow: 1px 1px 3px #888787;
}

.pupil2 {
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 5px;
    box-shadow: 1px 1px 3px #888787;
}

/* Gumball's mouth */
.gumball-mouth-top {
    width: 126px;
    height: 26px;
    border-radius: 58% 42% 78% 22% / 55% 0% 100% 45%;
    background-color: rgb(189, 230, 231);
    position: absolute;
    top: 136px;
    left: 88px;
    z-index: 5;
}

.gumball-mouth-below {
    width: 123px;
    height: 95px;
    border-radius: 44% 56% 57% 43% / 12% 0% 100% 88%;
    background-color: rgb(242, 113, 122);
    position: absolute;
    top: 138px;
    left: 91px;
    z-index: 4;
}

/* Gumball's tongue */
.gumball-tongue {
    width: 100px;
    height: 41px;
    border-radius: 62% 22% 31% 86% / 95% 25% 140% 71%;
    background-color: rgb(249, 170, 165);
    position: absolute;
    top: 71%;
    left: 124px;
    transform: rotate(-13deg);
    z-index: 5;
    clip-path: ellipse(85% 98% at -1% 0%);
}

/* Gumball's nose */
.gumball-nose {
    width: 36px;
    height: 12px;
    border-radius: 58% 42% 78% 22% / 55% 0% 100% 45%;
    background-color: rgb(210, 76, 23);
    position: absolute;
    top: 136px;
    left: 123px;
    z-index: 7;
}

/* Gumball's teeth */
.gumball-teeth {
    width: 10px;
    height: 25px;
    border-radius: 0% 100% 100% 0% / 0% 0% 100% 100%;
    background-color: white;
    position: absolute;
    top: 51%;
    left: 60%;
    z-index: 4;
}

/* Gumball's whiskers */
.whiskers1,
.whiskers2,
.whiskers3,
.whiskers4,
.whiskers5 {
    width: 1%;
    height: 1px;
    background-color: black;
    border: 15px solid black;
    border-radius: 1% 57% 13% 41% / 32% 26% 80% 73%;
    position: absolute;
    z-index: 10;
}

.whiskers1 {
    top: 182px;
    left: -18px;
    clip-path: polygon(0 85%, 122% -111%, 28% 84%, 16% 94%);
    transform: rotate(10deg);
}

.whiskers2 {
    top: 206px;
    left: 2px;
    clip-path: polygon(0 85%, 122% -111%, 28% 84%, 16% 94%);
}

.whiskers3 {
    top: 221px;
    left: 264px;
    clip-path: polygon(0 85%, 122% -111%, 28% 84%, 16% 94%);
    transform: rotate(-55deg);
}

.whiskers4 {
    top: 201px;
    left: 290px;
    clip-path: polygon(0 85%, 122% -111%, 28% 84%, 16% 94%);
    transform: rotate(-59deg);
}

.whiskers5 {
    top: 171px;
    left: 308px;
    clip-path: polygon(0 85%, 122% -111%, 28% 84%, 16% 94%);
    transform: rotate(-70deg);
}

/* Gumball's eyebrows */
.eyebrow1,
.eyebrow2 {
    width: 55px;
    height: 59px;
    border-radius: 315% 271% 31% 0% / 100% 0% 100% 0%;
    background-color: black;
    position: absolute;
    clip-path: ellipse(42% 25% at 47% 102%);
}

.eyebrow1 {
    top: -11%;
    left: 28%;
    transform: rotate(-8deg);
}

.eyebrow2 {
    top: -11%;
    left: 64%;
    transform: rotate(8deg);
}

/* Darwin styles */
.darwin {
    position: absolute;
    top: 60%;
    left: calc(50% - 50px);
    transform: translate(-50%, -50%);
}

/* Darwin's face */
.darwin-face {
    width: 339px;
    height: 268px;
    position: absolute;
    top: -3px;
    left: -262px;
    border-radius: 55% 85% 88% 49% / 112% 69% 55% 33%;
    background-color: rgb(255, 116, 18);
}

/* Darwin's cheeks */
.darwin-cheek {
    width: 180px;
    height: 170px;
    border-radius: 62% 38% 41% 49% / 60% 51% 49% 46%;
    background-color: rgb(255, 116, 18);
    position: absolute;
    bottom: 14px;
    left: -22px;
    z-index: -1;
}

/* Darwin's tail */
.darwin-tail {
    width: 56px;
    height: 90px;
    border-radius: 0% 100% 100% 0% / 0% 49% 51% 100%;
    background-color: rgb(255, 116, 18);
    position: absolute;
    top: 154px;
    left: 299px;
    transform: rotate(23deg);
    z-index: -1;
}

/* Darwin's eyes */
.eye1-d,
.eye2-d {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 3px #888787;
}

.eye1-d {
    top: 41px;
    left: -212px;
}

.eye2-d {
    top: 41px;
    left: -93px;
}

/* Darwin's pupils */
.pupil1-d,
.pupil2-d {
    width: 35px;
    height: 35px;
    background: black;
    border-radius: 50%;
    position: absolute;
    box-shadow: 1px 1px 3px #888787;
}

.pupil1-d {
    top: 15px;
    left: 5px;
}

.pupil2-d {
    top: 15px;
    left: 5px;
}

/* Darwin's eyebrows */
.eyeb1,
.eyeb2 {
    width: 50px;
    height: 30px;
    border-radius: 100% 0% 100% 0% / 100% 0% 100% 0%;
    background-color: black;
    position: absolute;
    clip-path: ellipse(48% 50% at 48% 100%);
}

.eyeb1 {
    left: -179px;
    top: -4px;
    transform: rotate(-4deg);
}

.eyeb2 {
    left: -61px;
    top: 2px;
    transform: rotate(29deg);
}

/* Darwin's mouth */
.darwin-mouth {
    width: 149px;
    height: 78px;
    border-radius: 0% 100% 52% 48% / 0% 0% 100% 100%;
    background-color: rgb(213, 25, 46);
    position: absolute;
    left: -182px;
    top: 156px;
    z-index: 10;
}

/* Darwin's tongue */
.darwin-tongue {
    width: 130px;
    height: 60px;
    border-radius: 39% 61% 0% 100% / 100% 53% 47% 0%;
    background-color: rgb(234, 60, 80);
    position: absolute;
    top: 51px;
    left: 20px;
    clip-path: ellipse(38% 54% at 42% -9%);
}

/* Additional details for Darwin's tail */
.detail1,
.detail2 {
    width: 5px;
    height: 0px;
    background-color: black;
    border: 15px solid black;
    border-radius: 1% 57% 13% 41% / 32% 26% 80% 73%;
    position: absolute;
    clip-path: polygon(0 85%, 122% -111%, 28% 84%, 16% 94%);
    z-index: 10;
    transform: rotate(-82deg);
}

.detail1 {
    top: 190px;
    left: 59px;
}

.detail2 {
    top: 164px;
    left: 67px;
}

